/* CSS Document */
/*corpo da pagina*/
body {
    scrollbar-base-color: #333333;
	background-color: #000000;
	color: #ffffff;
	margin: 0px;
	background: -moz-linear-gradient(top, #111111, #555555);
	background: -webkit-gradient(linear, left top, left bottom, from(#111), to(#555));
	filter: 	progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF111111, endColorstr=#FF555555);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF111111, endColorstr=#FF555555)";
}

.d_smenu_about {
	font-family: Arial Black;
	font-size: 12pt;
	color: #AACCCC
}

/*links normais*/
a {
	outline-style:none;
	outline-width:0;
}

a:link {text-decoration: none; color: #FFFFFF}
a:visited {text-decoration: none; color: #FFFFFF}
a:hover {text-decoration: none; color: #FF0000}

a.menu_normal_link:link {text-decoration: none; color: #FFFFFF}
a.menu_normal_link:visited {text-decoration: none; color: #FFFFFF}
a.menu_normal_link:hover {text-decoration: none; color: #FF0000}

a.menu_selected_link:link {text-decoration: none; color: #AACCCC}
a.menu_selected_link:visited {text-decoration: none; color: #AACCCC}
a.menu_selected_link:hover {text-decoration: none; color: #FF0000}

a.smenu_normal_link:link {text-decoration: none; color: #9999F9 }
a.smenu_normal_link:visited {text-decoration: none; color: #9999F9 }
a.smenu_normal_link:hover {text-decoration: none; color: #FFFF00 }

a.smenu_selected_link:link {text-decoration: none; color: #FFFFCC }
a.smenu_selected_link:visited {text-decoration: none; color: #FFFFCC }
a.smenu_selected_link:hover {text-decoration: none; color: #FFFF00 }

.maintable_class {
	height:  100%;
}

.menu_class {
	background-color: #333333;
	text-align: center;
	background: -moz-linear-gradient(top, #111111, #333333);
	background: -webkit-gradient(linear, left top, left bottom, from(#111), to(#333));
	filter: 	progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF111111, endColorstr=#FF333333);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF111111, endColorstr=#FF333333)";
	
	height: 25px; 
	font-family: Impact;
	font-size: 14pt;
}

.smenu_class {
	background-color: #333333;
	text-align: center;
	background: -moz-linear-gradient(top, #333333, #111111);
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
	filter: 	progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF333333, endColorstr=#FF111111);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF333333, endColorstr=#FF111111)";
	height: 25px;
	font-family: Impact;
	font-size: 14pt;
}

.content_class {
	background-color: #333333;
	text-align: center;
	background: -moz-linear-gradient(top, #111111, #333333);
	background: -webkit-gradient(linear, left top, left bottom, from(#111), to(#333));
	filter: 	progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF111111, endColorstr=#FF333333);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF111111, endColorstr=#FF333333)";
	font-family: Courier New;
	font-size: 12pt;
	height: 100%;
}

/*Tabela de downloads*/
.tbl_downs_class {
   table-layout: fixed;
   border-collapse: collapse;
}

/*titulo da tabela de downloads*/ 
.tbl_down_title {
    background-color: #000000;
	height: 20px;
	background: -moz-linear-gradient(top, #111111, #336633);
	background: -webkit-gradient(linear, left top, left bottom, from(#111), to(#363));
	filter: 	progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF111111, endColorstr=#FF336633);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF111111, endColorstr=#FF336633)";
}

.tbl_down_sumary {
    background-color: #000000;
	height: 20px;
	background: -moz-linear-gradient(top, #336633, #111111 );
	background: -webkit-gradient(linear, left top, left bottom, from(#363), to(#111));
	filter: 	progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF336633, endColorstr=#FF111111);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF336633, endColorstr=#FF111111)";
	text-align: center;
}

.tbl_down_1 {
	background-color: #555555;
	width: 100%;
	height: 20px;
}

.tbl_down_2 {
	background-color: #333333;
	width: 100%;
	height: 20px;
}

.tbl_cell_txt {
    overflow: hidden;
    -o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
}

.tbl_cell {
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
}

.main_window_title
{
	text-align: center;
    background-color: #336633;
	background: -moz-linear-gradient(top, #111111, #336633);
	background: -webkit-gradient(linear, left top, left bottom, from(#111), to(#363));
	filter: 	progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF111111, endColorstr=#FF336633);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF111111, endColorstr=#FF336633)";
	font-family: Arial;
	font-size: 12pt;
}

.main_window
{
	-moz-opacity:0.9;
	opacity:0.9;
	filter:alpha(opacity=90);
	background-color: #333333;
	text-align: left;
	background: -moz-linear-gradient(top, #111111, #777777);
	background: -webkit-gradient(linear, left top, left bottom, from(#111), to(#777));
	filter: 	progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF111111, endColorstr=#FF777777);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF111111, endColorstr=#FF777777)";
	font-family: Arial;
	font-size: 12pt;
   border: 5px black solid;
}

.sub_window
{
   background-color: #333333;
	text-align: left;
	background: -moz-linear-gradient(top, #111111, #333333);
	background: -webkit-gradient(linear, left top, left bottom, from(#111), to(#333));
	filter: 	progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF111111, endColorstr=#FF333333);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF111111, endColorstr=#FF333333)";
	font-family: Arial;
	font-size: 12pt;
   border: 5px black solid;
}
